.glass-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
  }
  
  .left-section {
    flex: 1;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Add glassmorphism styles to NFTimage, NFTlevel, and ComputeBalance components if needed */
  